.slider-arrow {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 0 7px 0 hsla(0, 0%, 0%, 0.09);

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 18px;
    width: 8px;
    height: 12px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 8 12' fill='%231A1A1A' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.29.71a.996.996 0 000 1.41L5.17 6 1.29 9.88a.996.996 0 101.41 1.41L7.29 6.7a.996.996 0 000-1.41L2.7.7C2.32.32 1.68.32 1.29.71z'/%3E%3C/svg%3E");
    background-size: contain;
    background-position: center;
  }

  &--prev {
    &::before {
      transform: rotate(-180deg);
    }
  }

  &.disabled {
    display: none;
  }
}
